[submodule "Core/godot_cpp"]
	path = Core/godot_cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "Core/wallpaper_engine/ffmpeg"]
	path = Core/wallpaper_engine/ffmpeg
	url = git@github.com:FFmpeg/FFmpeg.git