# Godot 4+ specific ignores
.godot
.import/
*.translation

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# Python
__pycache__
*.dblite

# VSCode
.vscode

# C/C++
*.os
*.so
*.dll

# FFMPEG
ffmpeg/bin